<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - NIDS</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://kit.fontawesome.com/9eab89dd1b.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Navigation -->
    <div class="navbar">
        <!-- <img src="{{ url_for('static', filename='images/nids logo.png') }}" alt="nids logo" class="logo"> -->
         <h2 class="logo"><i class="fa-solid fa-hexagon-nodes-bolt"></i> NIDS </h2>
        <div>
            <i class="fa-solid fa-house"></i> <a href="{{ url_for('home') }}">Home</a>
            <i class="fa-solid fa-layer-group"></i> <a href="{{ url_for('about') }}">About</a>
            <i class="fa-solid fa-clipboard-list"></i> <a href="{{ url_for('models') }}">Models</a>
        </div>
    </div>

    <!-- Home Content -->
    <div class="container">
        <h1 class="home-header">Network Intrusion Detection System (NIDS)</h1>
        <p class="home-description">
            Intrusion Detection System (IDS) observes network traffic for malicious transactions and sends immediate alerts when it is observed. It is software that checks a network or system for malicious activities or policy violations. 
        </p>
        
        <img src="{{ url_for('static', filename='images/nids.png') }}" class="home-image" alt="NIDS Image">

        <h1 class="home-header">History of NIDS</h1>
        <!-- <ul class="timeline">
            <li><b>1980s:</b> Initial concepts of intrusion detection systems emerged.</li>
            <li><b>1990s:</b> NIDS solutions were developed with signature-based detection.</li>
            <li><b>2000s:</b> Machine learning and AI integration in NIDS.</li>
            <li><b>2010s - Present:</b> Advanced threat detection using deep learning.</li>
        </ul>  -->
        
        <img src="{{ url_for('static', filename='images/timeline.png') }}" class="history-img" alt="history">


    </div>

</body>
</html>
